<div class="row">
  <h1>Users</h1>
</div>
<div class="row">
  <div class="small-3 columns">
    <h3>Name</h3>
  </div>
  <div class="small-3 columns">
    <h3>Username</h3>
  </div>
  <div class="small-6 columns"></div>
</div>
<% @users.each do |user| %>
  <div class="row">
    <div class="small-3 columns">
      <h5><%= user.name %></h5>
    </div>
    <div class="small-3 columns">
      <h5><%= user.username %></h5>
    </div>
    <div class="small-6 columns">
      <%= link_to 'Delete User', admin_path(user), method: :delete, data: {confirm: "Are you sure?"}, class: "alert button" %>
      <% if !user.admin %>
        <%= link_to 'Make Admin', admin_make_admin_path(user), data: {confirm: "Are you sure?"}, class: "success button" %>
      <% else %>
        <%= link_to 'Remove Admin', admin_remove_admin_path(user), data: {confirm: "Are you sure?"}, class: "warning button" %>
      <% end %>
    </div>
  </div>
<% end %>
