<div class="row">
  <h1>Memes</h1>
  <%= form_tag(memes_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Memes" %>
      <%= submit_tag "Search", :name => nil %>
  <% end %>

</div>
<% i = 0 %>
<% while i < @memes.length do %>
  <div class="row text-center">
    <div class="small-12 large-4 columns">
      <h3><%= link_to @memes[i].name, meme_path(@memes[i].id) %></h3>
      <%= link_to image_tag(@memes[i].image_url, :alt => @memes[i].name, :class => "thumbnail"), meme_path(@memes[i].id) %>
    </div>
    <div class="small-12 large-4 columns">
      <% if @memes[i+1] %>
        <h3><%= link_to @memes[i+1].name, meme_path(@memes[i+1].id) %></h3>
        <%= link_to image_tag(@memes[i+1].image_url, :alt => @memes[i+1].name, :class => "thumbnail"), meme_path(@memes[i+1].id) %>
      <% end %>
    </div>
    <div class="small-12 large-4 columns">
      <% if @memes[i+2] %>
        <h3><%= link_to @memes[i+2].name, meme_path(@memes[i+2].id) %></h3>
        <%= link_to image_tag(@memes[i+2].image_url, :alt => @memes[i+2].name, :class => "thumbnail"), meme_path(@memes[i+2].id) %>
      <% end %>
    </div>
  </div>
  <% i += 3 %>
<% end %>

<div class="row">
  <h5><%= link_to 'Add New Meme!', new_meme_path %></h5>
</div>
