<div class= "row">
  <h1> Submit a Meme </h1>

  <%= form_for(@meme) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description%>
    </div>
    <div class="field">
      <%= f.label :image_url, "Link to Image"%>
      <%= f.text_area :image_url%>
    </div>
    <div class="actions">
      <%= f.submit "Add Meme", class: "button"%>
    </div>
  <% end %>
  <p><%= link_to "Back", root_path %></p>
</div>
