<div class="row text-center">
  <h1><%= @meme.name %></h1>
</div>
<div class="row text-center">
  <img src=<%= @meme.image_url %> alt=<%= @meme.name %> class="thumbnail">
</div>
<div class="row text-center">
  <p><%= @meme.description %></p>
</div>
<div class="row">
  <h5><%= link_to 'Update a Meme', edit_meme_path  %></h5>
</div>
