<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Memes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div>

    </div>

    <% flash.each do |type, message| %>
      <div>
         <%= message %>
      </div>
    <% end %>

    <% if signed_in? %>
      <%= current_user.email %>
      <%= link_to "Sign out", destroy_user_session_path, data: { method: 'delete' } %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Join", new_user_registration_path %>
    <% end %>

    <%= yield %>

  </body>
</html>
